.body {
  font-family: Roboto;
  background-color: #fcfafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 0px;
}

.navbar-main {
  background: #4df4ae;
}

.navbar-main .container .navbar-brand {
  font-weight: bold;
  color: white;
}

.navbar-main .container .navbar-toggler {
  background: #4df4ae;
}

.navbar-main .container .collapse .navbar-nav {
  list-style: none;
}

.navbar-main .container .collapse .navbar-nav .nav-item a {
  color: #fffefe;
}

.navbar-main .container .collapse .navbar-nav .nav-item a:hover {
  background: rgba(206, 213, 214, 0.281);
  height: 35px;
  border-radius: 5px;
}

.navbar-main .container .collapse .navbar-nav .nav-item .login_btn {
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  border: 2px solid #FFFDFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.welcome_container {
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome_container .child {
  text-align: center;
}

.card0 {
  margin-top: 30px;
  margin-bottom: 35px;
  padding-top: 40px;
  -webkit-box-shadow: 0px 4px 8px 0px #757575;
          box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 5px;
}

.card2 {
  margin: 0px 40pxs;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 3px solid #b9b5b5;
}

.line {
  height: 3px;
  width: 40%;
  background-color: #c9baba;
  margin-top: 10px;
}

.or {
  width: 20%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::-webkit-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

@media screen and (max-width: 991px) {
  .image {
    width: 300px;
    height: 220px;
  }
  .border-line {
    border-right: none;
  }
  .card2 {
    border-top: 3px solid #a5a3a3 !important;
    margin: 0px 15px;
  }
}
/*# sourceMappingURL=main.css.map */